@tailwind base;
@tailwind components;
@tailwind utilities;

/* css beings  */

/* nav  */
label input:checked ~.links{
    display: block;
    
}
.links{
    background:linear-gradient(to right, rgba(64, 40, 145, 0.8),rgba(9, 18, 159, 0.36)) 
    ,url("./\(nicola\)/img/i4.jpg");
    background-position: center;
    background-size: cover;
}

/* health  */

.health{
    background:linear-gradient(to left, rgba(204, 154, 180, 0.8),rgba(90, 154, 180, 0.8)), url("./\(nicola\)/img/i.jpg");
    background-size: cover;
    background-position: center;
}



















