@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
.font_family{
    font-family: 'Libre Baskerville', serif;
} 
*{
    font-family: 'Playfair Display', serif;
}
 /* navigation bar   */
label input:checked ~ .links{

    display: block;

}

.navsm  .right  .links{
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: 
    linear-gradient(rgba(12, 20, 40, 0.4),rgba(12, 20, 40, 0.4))
    ,url("./\(pages\)/img/b4.jpg");
    background-position: center;
    background-size: cover;
   padding-left: 9rem 0;
  

}

/* shop  */

.image{
  animation: slider 12s linear infinite ;

}

@keyframes slider{
0%{
background: 
linear-gradient(rgba(12, 20, 40, 0.4),rgba(12, 20, 40, 0.4))
,url("./\(pages\)/img/m (4).jpg");
background-position: center;
background-size: cover;
}
55%{
background:linear-gradient(rgba(12, 20, 40, 0.4),rgba(12, 20, 40, 0.4))
, url("./\(pages\)/img/m (3).jpg");
background-position: center;
background-size: cover;
}
100%{
background:linear-gradient(rgba(12, 20, 40, 0.4),rgba(12, 20, 40, 0.4))
, url("./\(pages\)/img/m (2).jpg");
background-position: center;
background-size: cover;
}
}















