@tailwind base;
@tailwind components;
@tailwind utilities;

/* css beings  */

/* nav  */
label input:checked ~.links{
    display: block;
    
}

/* health  */
.health{
    background:linear-gradient(to left, rgba(204, 154, 180, 0.8),rgba(90, 154, 180, 0.8)), url("./\(nicola\)/img/i.jpg");
    background-size: cover;
    background-position: center;
}




















